.wrapper

.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %p.chat-main__group-info__left-box__current-group
        = @group.name
      %p.chat-main__group-info__left-box__member-lists 
        Member：
        - @group.users.each_with_index do |user, i|
          - unless i.zero?
            ,
          = user.name
    .chat-main__group-info__edit-box
      = link_to edit_group_path(@group.id) do
        Edit
        
  .chat-main__message-list
    = render @messages


  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :body,  class: "chat-main__message-form__text", placeholder: "type a message" 
      .input-box
        = f.label :image, class: "input-box__image" do
          = icon("fas", "image")
          = f.file_field :image, class: "input-box__image__file"
      = f.submit "Send", class:"chat-main__message-form__submit-btn"
